<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InTime welcome</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.js"></script>
</head>

<body class="d-flex flex-column justify-content-center align-items-center vh-100 text-center p-3">
    <h1 class="mb-4 display-5 text-wrap w-100" style="word-wrap: break-word;">Hello world</h1>
    <img src="/static/others/pic01.png"
         class="img-fluid"
         style="max-width: 90%; height: auto;"
         alt="shit">

</body>
</html>
